# Fichiers objets et compilés
*.o
*.mod
*.mod.c
*.symvers

# Fichiers de commande générés
*.cmd
modules.order

# Fichiers temporaires ou de debug
*.tmp
*.log
*.txt

# Fichiers de sauvegarde ou temporaires éditoriaux
*~
.*.swp
*.bak

# Répertoires temporaires
/tmp/
*.d

# Fichiers spécifiques à QEMU
disk.img
disk.qcow2
